
  /* About Us Section
  --------------------------------*/
  #about {
    padding: 60px 0;
    overflow: hidden;
  }
  
  #about .about-img {
    height: 510px;
    overflow: hidden;
  }
  
  #about .about-img img {
    margin-left: -15px;
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    #about .about-img {
      height: auto;
    }
    #about .about-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
  }
  
  #about .content .h2 {
    color: #333;
    font-weight: 300;
    font-size: 24px;
  }
  
  #about .content h3 {
    color: #777;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
  }
  
  #about .content p {
    line-height: 26px;
  }
  
  #about .content p:last-child {
    margin-bottom: 0;
  }
  
  #about .content i {
    font-size: 20px;
    padding-right: 4px;
    color: #1dc8cd;
  }
  
  #about .content ul {
    list-style: none;
    padding: 0;
  }
  
  #about .content ul li {
    padding-bottom: 10px;
  }
  
  /* Product Featuress Section
  --------------------------------*/
  #features {
    background: #fff;
    padding: 60px 0 0 0;
    overflow: hidden;
  }
  
  #features .features-img {
    text-align: center;
    padding-top: 20px;
  }
  
  @media (min-width: 769px) {
    #features .features-img {
      padding-top: 120px;
      margin-top: -200px;
    }
  }
  
  #features .features-img img {
    max-width: 100%;
  }
  
  #features .box {
    margin-bottom: 15px;
    text-align: center;
  }
  
  #features .icon {
    margin-bottom: 10px;
  }
  
  #features .icon i {
    color: #666666;
    font-size: 40px;
    transition: 0.5s;
  }
  
  #features .icon i:before {
    background: #1dc8cd;
    background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #features .title {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 22px;
  }
  
  #features .title a {
    color: #111;
  }
  
  #features .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  #features .section-description {
    padding-bottom: 10px;
  }
  