.place{
    position: relative;
    width: 100px;
    height: 50px;
    margin: auto;
    right: 50%;
    left: 50%;
  }
  
  h3{
    margin-left: 2%;
  }
  
  h4{
    margin-left: 2%;
  }
  
  .bill{
    text-align: center;
  }