<div class="row">


  <h1 class="bill">Bill</h1>

  <div class="col-sm-12">
    <div class="card div-center">
      <table class="table table-hover">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Duration</th>
          <th scope="col">Price</th>
          <th scope="col">Qty</th>
        </tr>
          <tr *ngFor="let record of finalServices">
              <td>{{record.data.data.data.s_name}}</td>
              <td >{{record.data.data.data.s_duration}}</td>
              <td >{{record.data.data.data.s_price}}</td>
              <td >{{record.qty}}</td>
          </tr>
      </table>
  </div>
  <hr>

  <h4 class="h4" ([ngModel])="finalBeauticianId">Selected Beautician id : {{finalBeauticianId}}</h4>
</div>
  <div class="price">
    <h3 class="h3" ([ngModel])="total">Total Price {{total}}</h3>
  </div>
  <button class="btn btn-success place" routerLink="/payment" >Pay</button>
</div>
