<!-- The content below is only a placeholder and can be replaced.
<nav class="navbar navbar-inverse">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="active"><a href="http://localhost:4200/allservices">Services</a></li>
          <li class="active"><a href="http://localhost:4200/gallary">Gallary</a></li>
          <li class="active"><a href="">About us</a></li>
          <li class="active"><a href="http://localhost:4200/contactus">Contact us</a></li>
          
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          
        </ul>
      </div>
  </nav>
<router-outlet></router-outlet> -->





<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- header -->
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menus">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="" class="navbar-brand">BigStylist</a> -->
    </div>

    <!-- menus -->
    <div class="navbar-collapse collapse" id="menus">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">BigStylist</a></li>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/allservices">Services</a></li>
        <li><a routerLink="/gallary">Gallary</a></li>
        <li><a routerLink="/aboutus">About us</a></li>
        <li><a routerLink="/contactus">Contact us</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/login">Login</a></li>
        <!-- <li><a (click)="logout()" style="cursor: pointer">Logout</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="container"> -->
  <!--<app-movie-home></app-movie-home>-->
  <!--<app-movie-top></app-movie-top>-->
  <!--<app-movie-search></app-movie-search>-->
  <!--<app-movie-user></app-movie-user>-->
  <router-outlet></router-outlet>
<!-- </div> -->