<div class="div-center">
  <div class="form">
     
    <div class="form-group">
      <label for="">Service Type</label>
      <input type="text" [(ngModel)]="s_type" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Service Name</label>
      <input type="email" [(ngModel)]="s_name" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Service Duration</label>
      <input type="number" [(ngModel)]="s_duration" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Service Price</label>
      <input type="number" [(ngModel)]="s_price" class="form-control">
    </div>
    <div class="form-group">
      <button (click)="insertServices()" class="btn btn-success">Register</button>
      <button (click)="clearServices()" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>

