<div class="div-center">
  <div class="form">
     
    <div class="form-group">
      <label for="">Beautician Name</label>
      <input type="text" [(ngModel)]="b_name" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Beautician Detail</label>
      <input type="text" [(ngModel)]="b_detail" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Mobile No</label>
      <input type="number" [(ngModel)]="b_mobileno" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Email id</label>
      <input type="email" [(ngModel)]="b_email" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Charges</label>
      <input type="number" [(ngModel)]="b_charges" class="form-control">
    </div>
    <div class="form-group">
      <button (click)="addBeautician()" class="btn btn-success">Register</button>
      <button (click)="clear()" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>


