<div class="div-center">
  <div class="form">
     
    <div class="form-group" [class.has-error]="namecontrol.invalid && namecontrol.touched"
          [class.has-success]="namecontrol.valid">
      <label for="">Name</label>
      <input required type="text" [(ngModel)]="c_name" class="form-control"
      #namecontrol="ngModel">
      <span  class="help-block" *ngIf="namecontrol.invalid && namecontrol.touched">Name is required</span>
    </div>
    <div class="form-group" [class.has-error]="emailcontrol.invalid && emailcontrol.touched"
          [class.has-success]="emailcontrol.valid">
      <label for="">Email</label>
      <input required type="email" [(ngModel)]="c_email" class="form-control"
       #emailcontrol="ngModel">
       <span class="help-block" *ngIf="emailcontrol.invalid && emailcontrol.touched">Email is required</span>
    </div>
   
   
    <div class="form-group"  [class.has-error]="passwordcontrol.invalid && passwordcontrol.touched"
    [class.has-success]="passwordcontrol.valid">
      <label for="">Password</label>
      <input required type="password" [(ngModel)]="c_password" class="form-control"
       #passwordcontrol="ngModel">
       <span class="help-block" *ngIf="passwordcontrol.invalid && passwordcontrol.touched">Password is required</span>
      </div>
    <!-- </div> -->
   
   
    <div class="form-group" [class.has-error]="mobilecontrol.invalid && mobilecontrol.touched"
    [class.has-success]="mobilecontrol.valid">
      <label for="">MobileNo</label>
      <input required type="text" [(ngModel)]="c_mobileno" class="form-control"
      #mobilecontrol="ngModel">
      <span class="help-block" *ngIf="mobilecontrol.invalid && mobilecontrol.touched">Mobile No is required</span>
    </div>


    <div class="form-group" [class.has-error]="addresscontrol.invalid && addresscontrol.touched"
    [class.has-success]="addresscontrol.valid">
      <label for="">Address</label>
      <input required type="text" [(ngModel)]="c_address" class="form-control"
      #addresscontrol="ngModel">
      <span class="help-block" *ngIf="addresscontrol.invalid && addresscontrol.touched">Address is required</span>
    </div> 
    
    
    
    <div class="form-group" [class.has-error]="citycontrol.invalid && citycontrol.touched"
    [class.has-success]="citycontrol.valid">
      <label for="">City</label>
      <input required type="text" [(ngModel)]="c_city" class="form-control"
      #citycontrol="ngModel">
      <span class="help-block" *ngIf="citycontrol.invalid && citycontrol.touched">city is required</span>
    </div>

    
    <div class="form-group" [class.has-error]="pincontrol.invalid && pincontrol.touched"
    [class.has-success]="pincontrol.valid">
      <label for="">PinCode</label>
      <input required type="number" [(ngModel)]="c_pincode" class="form-control"
      #pincontrol="ngModel">
      <span class="help-block" *ngIf="pincontrol.invalid && pincontrol.touched">Pincode is required</span>
    </div>
    <div class="form-group">
      <button (click)="registerUser()" class="btn btn-success">Register</button>
      <button (click)="clear()" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>
