.div-center{
  position: absolute;
  width: 400px;
  height: 620px;
  margin: auto;
  margin-top:70px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 30px;
  background-color:rgb(194, 230, 231);
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 20px 1px #c4c7ca;
  box-shadow: 10px 10px 20px 1px #c4c7ca;

}
.abc{
  position: absolute;
  top: 50px;
}
