<div class="row">

  <div class="col-sm-12">
    <div class="card div-center">
      <table class="table table-hover table-bordered">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Duration</th>
          <th scope="col">Price</th>
          <th scope="col">Qty</th>
         
        </tr>
          <tr *ngFor="let record of output">
              <td>{{record.data.data.data.s_name}}</td>
              <td >{{record.data.data.data.s_duration}}</td>
              <td >{{record.data.data.data.s_price}}</td>
              <td >{{record.qty}}</td>
          </tr>
      </table>
  </div>

<h4>Select Beautician</h4>
<select class="btn-btn-primary dropdown-toggle" (change)="selectedB($event.target.value)  "[(ngModel)]="selectedId">
  <option *ngFor="let b of beautician" value="{{b.b_id}}">
{{b.b_name}}
</option>
  </select>
  <button routerLink="/allservices" class="btn btn-sm btn-primary">Update</button>
 
<div class="price">
  <h3 [(ngModel)]="totalPrice" [(ngModel)]="selectedPrice">Total Price{{totalPrice}}+{{selectedPrice}}</h3>
</div>

 <button class="btn btn-sm btn-success place" routerLink="/finaltransaction" (click)="uploadCart()">Proceed to pay</button>
</div>