<div class="container animated fadeIn">

    <div class="row">
      <h1 class="header-title"> Contact Us</h1>
      <hr>
      <div class="col-sm-12" id="parent">
        <div class="col-sm-6">
        <iframe width="100%" height="320px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15135.349624446386!2d73.86255506607338!3d18.491022697656796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c02178308a1b%3A0xa8e2f83555b450cd!2sSunbeam+Institute+of+Information+Technology+C+Building!5e0!3m2!1sen!2sin!4v1532179465767" allowfullscreen></iframe>
        </div>
  
        <div class="col-sm-6">
          <form action="form.php" class="contact-form" method="post">
    
              <div class="form-group" [class.has-error]="namecontrol.invalid && namecontrol.touched"
              [class.has-success]="namecontrol.valid">
                <input type="text" [(ngModel)]="cu_name" class="form-control" id="name" name="nm" placeholder="Name" required autofocus=""
                 #namecontrol="ngModel">
                 <span  class="help-block" *ngIf="namecontrol.invalid && namecontrol.touched">Name is required</span>
              </div>
          
          
              <div class="form-group form_left" [class.has-error]="emailcontrol.invalid && emailcontrol.touched"
              [class.has-success]="emailcontrol.valid">
                <input type="email" [(ngModel)]="cu_email" class="form-control" id="email" name="em" placeholder="Email" required
                #emailcontrol="ngModel">
                <span  class="help-block" *ngIf="emailcontrol.invalid && emailcontrol.touched">Email is required</span>
              </div>
          
            <div class="form-group" [class.has-error]="mobilecontrol.invalid && mobilecontrol.touched"
            [class.has-success]="mobilecontrol.valid">
                 <input type="number" [(ngModel)]="cu_mobileno" class="form-control" id="phone" name="ph" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required
                 #mobilecontrol="ngModel">
                 <span  class="help-block" *ngIf="mobilecontrol.invalid && mobilecontrol.touched">Mobile is required</span>
            </div>
            
            <div class="form-group">
            <textarea  [(ngModel)]="cu_message" class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
            <br>
              <button (click)="insertMessage()" class="btn btn-default btn-send"> <span class="glyphicon glyphicon-send"></span> Send </button>
            </div>
           </form>
        </div>
      </div>
    </div>
  
    <div class="container second-portion">
    <div class="row">
          <!-- Boxes de Acoes -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">							
          <div class="icon">
            <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            <div class="info">
              <h3 class="title">MAIL & WEBSITE</h3>
              <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>  sunbeamparlour6610@gmail.com
                <br>
                <br>
                <i class="fa fa-globe" aria-hidden="true"></i>  www.sunbeam.com
              </p>
            
            </div>
          </div>
          <div class="space"></div>
        </div> 
      </div>
        
          <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">							
          <div class="icon">
            <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
            <div class="info">
              <h3 class="title">CONTACT</h3>
                <p>
                <i class="fa fa-mobile" aria-hidden="true"></i> (+91)-9561496788
                <br>
                <br>
                <i class="fa fa-mobile" aria-hidden="true"></i>  (+91)-7567065254 
              </p>
            </div>
          </div>
          <div class="space"></div>
        </div> 
      </div>
        
          <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">							
          <div class="icon">
            <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div class="info">
              <h3 class="title">ADDRESS</h3>
                <p>
                 <i class="fa fa-map-marker" aria-hidden="true"></i>  15/3 Junction Plot 
                 "4B, Market Yard, Gultekdi, Pune, Maharashtra 411037.
              </p>
            </div>
          </div>
          <div class="space"></div>
        </div> 
      </div>		    
      <!-- /Boxes de Acoes -->
      
      <!--My Portfolio  dont Copy this -->
        
    </div>
  </div>
  
  </div>