<div class="div-center">
  <div class="form">
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="c_email" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="c_password" type="password" class="form-control">
    </div>
    <div class="form-group">

      <button (click)="loginCheck()" class="btn btn-success">Login</button>
      <button (click)="register()" class="btn btn-danger">Register</button>
    </div>
  </div>
</div>
