.div-center{
  position: absolute;
  width: 250px;
  height: 250px;
  margin: auto;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  padding: 30px;
  background-color:rgb(204, 222, 247);
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 20px 1px #c4c7ca;
  box-shadow: 10px 10px 20px 1px #c4c7ca;

}
