<!-- Grid row -->

<!-- Grid row -->

<!-- Grid row -->
<div class="gallery" id="gallery">

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="https://www.weddingplz.com/blog/wp-content/uploads/2015/07/Sohni-Juneja1.weddingplz2.jpg" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="http://dhatoday.com/wp-content/uploads/2014/02/03/Sabs-The-Salon-A-Glamorous-Journey-For-The-Brides-5.jpg" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="http://www.sinegampetoorillam.org/images/se5.jpg" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv4-jUyCN9uUIUbHMwkLNs-phMXT1gxPOPUjU2fpZd_Bz8yoge" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="https://keralainformation.com/directory/wp-content/uploads/2016/06/sreeyas.jpg" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="https://keralainformation.com/directory/wp-content/uploads/2014/08/beauty1.jpg" alt="Card image cap">
  </div>
  
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="https://c1.myd.la/uploads/event/2014-12-29/174193/174193_1.jpg" alt="Card image cap">
</div>
  <!-- Grid column -->

</div>
<!-- Grid row -->