<div class="row">
    <div *ngFor="let type of types">
    <div class="col-sm-6">
        <div class="card">
            <div class="card card-header">{{type}}</div>
            <table class="table table-hover table-bordered">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Price</th>
                    <th scope="col">cart</th>
                </tr>
           
                <tr *ngFor="let service of allServices">
                    <td *ngIf="service.s_type==type">{{service.s_name}}</td>
                    <td *ngIf="service.s_type==type">{{service.s_duration}}</td>
                    <td *ngIf="service.s_type==type">{{service.s_price}}</td>
           <td  class="td-center" *ngIf="service.s_type==type">
               <button (click)="addToCart(service.s_id,service)" class="btn btn-primary">+</button>
               <button (click)="deleteFromCart(service.s_id)" class="btn btn-primary">-</button>
            </td>
            
        </tr>   
            </table>
    </div>
    </div>
    </div>
</div>